
/* SITE CSS */

html { 
    overflow-y: hidden;
    overflow-x: hidden;
    font-family: 'Open Sans', sans-serif;
}

body{
    font-size: 1.5em;
    line-height: 0;
    margin: 0;
    padding: 0;
    color: #E0E3DA;
    background: #1F2124; 
}

.container{
    margin: auto;
}

/* SHOWCASE */
#showcase{
    background: url('../images/Background/caleb-rogers-122434.jpg');
    object-fit: cover;
    background-position: center;     
    webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; 
    border-bottom: 1px solid #575757;
    min-height: 100%;
    width: 100%;
    position: relative;
}

#showcase .row-showcase{
    height: 100vh;
}

#showcase #logo{
    max-width: 550px;
    width: 80vw;
    margin-bottom: 0px;
    -webkit-filter: drop-shadow(0 0 1px rgba(0, 0, 0, .6));
    filter: drop-shadow(1px 0 3px rgba(0, 0, 0, .6));
}


#showcase .countdown{
    margin-top: 30px;
    font-weight: 600;
    font-size: 1rem;
    text-transform: uppercase;
}

@media screen 
    and (device-width: 320px) 
    and (device-height: 640px) 
    and (orientation: portrait) {
        body {height: 100%;
      }
}